<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<%= javascript_include_tag '/assets/create' %>

<section class="form-header">
  <div class="container">
    <div class="row panel">

      <%= form_for [@trip] do |f| %>

      <div class="col-lg-5">

        <h3>Create a new trip!</h3>
        <p>First tell us your planned itinerary...</p>
        <hr>

        <div class="form-group">
      	  <%= f.label :origin %>
      	  <%= f.text_field :origin, class: "js-search-origin form-control", onFocus: "geolocate()", type: "text"%>
        </div>

        <div class="form-group">
          <%= f.label :destination %>
          <%= f.text_field :destination, class: "js-search-destination form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :country_origin %>
          <%= f.text_field :country_origin, class: "js-country-origin field form-control", disabled: "true"%>
        </div>

        <div class="form-group">
          <%= f.label :country_destination %>
          <%= f.text_field :country_destination, class: "js-country-destination field form-control", disabled: "true"%>
        </div>

        <div class="form-group">
          <%= f.label :start_date %>
          <%= f.date_field :start_date, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :finish_date %>
          <%= f.date_field :finish_date, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :price %>
          <%= f.number_field :price, class: "form-control" %>
          <small id="emailHelp" class="form-text text-muted">Price/seat</small>
        </div>

        <!-- <div class="container_search_map">
          <div id='input'>
            <input id='gmaps-input-address' placeholder='Start typing a place name...' type='text' />
            <div id='gmaps-error'></div>
          </div>
          <div id='gmaps-canvas'></div>
        </div> -->

      </div>

      <div class="col-lg-2">
      </div>

      <div class="col-lg-5">
        <h3>Additional Info</h3>
        <hr>
          <p>Hey <%= current_user.name %>! Creating a trip?</p>

          <div class="form-group">
            <%= f.label :level %>
            <%= f.select(:level, [['Beginner'], ['Intermediate'], ['Advanced'], ['Expert']],{}, { :class => 'form-control' } ) %>
            <small id="emailHelp" class="form-text text-muted">Beginner, Intermediate or Advanced!</small>
          </div>

          <div class="form-group">
            <%= f.label :kind_of_trip %>
            <%= f.select(:kind_of_trip, [['Group'], ['Riding Solo']], {}, { :class => 'form-control' } ) %>
            <small id="emailHelp" class="form-text text-muted">Determine whether you're looking to go in a group or riding solo.</small>
          </div>

          <div class="form-group">
            <%= f.label :max_users %>
            <%= f.text_field :max_users, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :space_material %>
            <%= f.number_field :space_material, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_field :description, class: "form-control" %>
          </div>

          <button type="button" class="btn btn-success" id="create-trip-btn">Create a trip!</button>
        </div>

      <% end %>
      </div>
    </div>
  </section>
