<!DOCTYPE html>
<html>
  <head>
    <title>Gosurf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <% if user_signed_in? %>
          <a class="navbar-brand" href="#">GOSURF</a>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Find Trips</a></li>
          <li><a href="#">Create Trips</a></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: 'DELETE' %></li>
        </ul>
          <% else %>
          <a class="navbar-brand" href="#">GOSURF</a>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Find Trips</a></li>
              <li><a href="#">Create Trips</a></li>
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
              <li><%= link_to 'Sign in', new_user_session_path %></li>
            </ul>
          <% end %>
        </div>
    </nav>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
